@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
}

html{
    font-size: 62.5%;
}

.main-div{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #00986f;
}

.inner-div{
    width: 40vw;
    background-color: #fff;
    padding: 3rem 8rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
}

.inner-div h2{
    font-size: 2.5rem;
    font-weight: 500;
    margin: 1rem 0 4rem 0;
}

.inner-div li{
    font-size: 2rem;
    margin-top: 1.5rem;
    list-style: none;
}

input{
    cursor: pointer;
}

#submit, .btn{
    padding: 1rem, 3rem;
    margin: auto;
    font-size: 2rem;
    font-size: 400;
    outline: none;
    display: block;
    margin: auto;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #db7d7d;
    margin-top: 4rem;
    border-radius: 0.5rem;
    cursor: pointer;
}



#showScore{
    background-color: #dfe6e9;
    margin-top: 3rem;
    padding: 3rem 4rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
}

#showScore h3{
    font-size: large;
    text-align: center;
}

#showScore .btn{
    background-color: #00b894;
    color: #fff;
}

.scoreArea{
    display: none;
}